@use 'colors' as c;

// $header-font: "Didact Gothic";
$header-font: 'Playfair Display';
$font-family: 'Source Sans Pro';

b {
  font-weight: 600;
}

@mixin main-banana($color) {
  color: $color;
  font-size: 8vw;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $header-font;
}

@mixin second-banana($color) {
    font-family: $font-family;
    font-size: 1.5vw;
    color: $color;
}

@mixin link() {
  font-family: $header-font;
  letter-spacing: 1px;
  font-size: 24px;
}
