@use 'colors' as c;

$header-font: "Didact Gothic";

@mixin main-banana($color) {
  color: $color;
  font-size: 8vw;
  font-family: $header-font;
}

@mixin second-banana($color) {
    color: $color;
    font-size: 4vw;
}
