$emerald: #23ce6b;
$black: #272d2d;
$white: #f6f8ff;
$grape: #9c89b8;
$yellow: #f4ac45;

.tiny-text {
  font-size: 12px;
}

.emerald {
  color: $emerald;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.grape {
  color: $grape;
}

.yellow {
  color: $yellow;
}

.reset {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;  
}