@use '../../styles/adjustments' as a;
@use '../../styles/colors' as c;
@use '../../styles/fonts' as f;
@use '../../styles/transitions' as t;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: c.$background;
}

.center-me {
  @include a.center-me-as-row();
}

// TODO: I thnk SASS can handle this to not be explicit
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.link {
  @include f.link();
}

.link-orange {
  @include t.fast-transition();
}
.link-lemon {
  @include t.fast-transition();
}
.link-watercourse {
  @include t.fast-transition();
}
.link-malibu {
  @include t.fast-transition();
}

.link-orange:hover {
  @include t.fast-transition();
  @include t.add-shadow(c.$orange);
}
.link-lemon:hover {
  @include t.fast-transition();
  @include t.add-shadow(c.$lemon);
}
.link-watercourse:hover {
  @include t.fast-transition();
  @include t.add-shadow(c.$watercourse);
  text-decoration: none;
}
.link-malibu:hover {
  @include t.fast-transition();
  @include t.add-shadow(c.$malibu);
}
