:root {
    --color-offblack: rgb(73, 73, 73);
    --color-offwhite: rgb(228, 228, 228);
    --color-lightblue: rgb(0,180,217);
    --color-cobalt: rgb(0,83,134);
}

body, html {
    background-color: var(--color-offwhite);
    height: 100vh;
    width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}
