.Resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Resume img {
  max-width: 84vw;
  margin: 25px auto;
}

.Resume button {
  margin: 12px 0;
}

/* TODO: Organize button css somewhere else */
button {
  background-color: white; /* Green */
  border: 2px solid #111;
  color: #111;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 250ms;
}
button:hover {
  background-color: #111;
  color: white;
}
