.Resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* .Resume .contact {
  width: 100%;
  padding: 12px 0 12px 0;
} */

.Resume img {
  max-width: 84vw;
  margin: 50px auto;
}
