.Resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Resume .header {
  margin: 20px auto;
}

.Resume .buttons * {
  margin: 0 5px;
}

.Resume .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Resume .contact {
  width: 100%;
  padding: 12px 0 12px 0;
}


.Resume img {
  max-width: 80vw;
  margin-bottom: 200px;
}
