@use '../../styles/fonts' as f;
@use '../../styles/colors' as c;

#homepage-header {
  h1 {
    @include f.main-banana(c.$banana-yellow);
  }

  h2 {

  }
}

#media-links {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
  margin: 0 10px;
  }
}
