@use '../../styles/adjustments' as a;
@use '../../styles/colors' as c;
@use '../../styles/fonts' as f;
@use '../../styles/transitions' as t;

#homepage-header {
    @include a.center-me();
}

#media-links {
    color: c.$font;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#left-nav-area {
    * {
        margin: 1px 0px;
    }
}
